# ignore ALL .log files
**.db

**.ipynb_checkpoints/

**.csv

*.png
*/*.png

*/*.svg

*/*.jpg


*.json
*/*.json

*.xlsx
*/*.xlsx


# ignore ALL files in ANY directory named temp

*/__pycache__/
__pycache__/
